@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #f5f4f4;
}

body {
  background-color: #37373a;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0px 0 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.185);
}

header h5 {
  font-size: 22px;
}

.container {
  padding: 10px 30px;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bio {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #707070;
  padding: 20px;
  border-radius: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 8px solid #5c5b5b;
  width: 100%;
  position: relative;
}

.bio__avatar {
  position: absolute;
  width: 40%;
  top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bio__avatar img {
  width: 105px;
}

.bio__text {
  width: 100%;
  margin: 50px 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.bio__text h3 {
  font-size: 1.6rem;
}

.bio__text p {
  font-size: 0.7rem;
  margin: 2px 0;
  font-weight: 400;
}

.contact {
  background-color: #389396;
  padding: 13px 36px;
  border-radius: 14px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 300;
  width: 65%;
  border-bottom: 8px solid #2e7375;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons__each {
  background-color: rgba(0, 0, 0, 0.185);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  border-radius: 6px;
  padding: 2px 15px 2px 2px;
}

.icons__each .icon {
  width: 50px;
}

.icons__each p {
  font-weight: 300;
  font-size: 16px;
}

.icons__each .arrow {
  width: 20px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.185);
  margin: 30px 0;
  padding: 20px 0;
  border-radius: 8px;
}

.right H2 {
  font-size: 2rem;
}

.right__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right__icon {
  width: 70px;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right__icon img {
  width: 40px;
}

.right__icon p {
  font-size: 15px;
  font-weight: 300;
}

@media screen and (min-width: 750px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .left {
    width: 30%;
    margin: 30px 10px;
  }
}

@media screen and (min-width: 750px) and (min-width: 950px) {
  .left {
    margin: 30px 50px;
  }
}

@media screen and (min-width: 750px) {
  .right {
    margin: 30px 10px;
    width: 70%;
  }
}

@media screen and (min-width: 750px) and (min-width: 950px) {
  .right {
    margin: 30px 50px;
  }
}

@media screen and (min-width: 750px) {
  .right__icon img {
    width: 30px;
  }
  .right__icon p {
    font-size: 13px;
  }
  .bio {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .bio__avatar {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -40px;
  }
  .bio__text {
    margin-top: 50px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .bio__text h3 {
    font-size: 1.7rem;
  }
  .bio__text p {
    font-size: 13px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 10px;
  }
  .bio {
    padding: 10px;
  }
  .bio__avatar img {
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */