@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: rgb(245, 244, 244);
}
body {
  background-color: #37373a;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px 0 20px 0;
  align-items: center;
  padding: 10px;

  h5 {
    font-size: 22px;
  }
  background-color: rgba(0, 0, 0, 0.185);
}
.container {
  padding: 10px 30px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.bio {
  margin: 20px 0;
  display: flex;
  background-color: #707070;
  padding: 20px;
  border-radius: 16px;
  align-items: center;
  border-bottom: 8px solid #5c5b5b;
  width: 100%;
  &__avatar {
    width: 40%;
    img {
      width: 105px;
    }
  }
  &__text {
    width: 60%;
    margin: 0 10px;
    h3 {
      font-size: 1.6rem;
    }
    p {
      font-size: 0.7rem;
      margin: 2px 0;
      font-weight: 400;
    }
  }
}

.contact {
  background-color: #389396;
  padding: 13px 36px;
  border-radius: 14px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 300;
  width: 65%;
  border-bottom: 8px solid #2e7375;
}

.icons {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 20px 0;
  align-items: center;
  &__each {
    background-color: rgba(0, 0, 0, 0.185);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border-radius: 6px;
    padding: 2px 15px 2px 2px;
    & .icon {
      width: 50px;
    }
    p {
      font-weight: 300;
      font-size: 16px;
    }
    & .arrow {
      width: 20px;
      transform: rotate(-90deg);
    }
  }
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.185);
  margin: 30px 0;
  padding: 20px 0;
  border-radius: 8px;
  H2 {
    font-size: 2rem;
  }
  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__icon {
    width: 70px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & img {
      width: 40px;
    }
    & p {
      font-size: 15px;
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 750px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .left {
    width: 30%;
    margin: 30px 10px;
    @media screen and (min-width: 950px) {
      margin: 30px 50px;
    }
  }
  .right {
    margin: 30px 10px;
    width: 70%;
    @media screen and (min-width: 950px) {
      margin: 30px 50px;
    }
    &__icon {
      & img {
        width: 30px;
      }
      p {
        font-size: 13px;
      }
    }
  }
  .bio {
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    &__avatar {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      top: -40px;
    }
    &__text {
      margin-top: 50px;
      width: 100%;
      align-items: center;
      text-align: center;
      h3 {
        font-size: 1.7rem;
      }
      p {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 365px) {
  .container {
    padding: 10px;
  }
  .bio {
    padding: 10px;
    &__avatar {
      & img {
        width: 80%;
      }
    }
  }
}
